.card{
	border: none;
	border-top: 5px solid  rgb(176106,252);
	background: #111827; ;
	color: white;
}
p{
	font-weight: 600;
	font-size: 15px;
}
.login-title{
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
}
.fab{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: #2A284D;
	height: 40px;
	width: 90px;
}
.fab:hover{
	cursor: pointer;
}
.fa-twitter{
	color: #56ABEC;
}
.fa-facebook{
	color: #1775F1;
}
.fa-google{
	color: #CB5048;
}
.division{
	float: none;
	position: relative;
	margin: 30px auto 20px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}
.division .line{
	border-top: 1.5px solid #57557A;;
	position: absolute;
	top: 13px;
	width: 85%;
}
.line.l{
	left: 52px;
}
.line.r{
	right: 45px;

}
.division span{
	font-weight: 600;
	font-size: 14px;
}
.myform{
	padding: 0 25px 0 33px;
}
.form-group label{
	color: #fff;
	font-weight: 500;
	margin-bottom: 8px;
	display: block;
}
.form-control{
	border: 1px solid #57557A;
	border-radius: 3px;
	background: #ffffff;
	margin-bottom: 20px;
	letter-spacing: 1px;

}
.form-control:focus{
	border: 1px solid #57557A;
	border-radius: 3px;
	box-shadow: none;
	background: #212042;
	color: #fff;
	letter-spacing: 1px;
}
.bn{
	text-decoration: underline;
}
.bn:hover{
	cursor: pointer;
}
.form-check-input {
    margin-top: 8px!important;
}
.form-check-label{
	color: #fff;
}
.btn-primary{
	background :#111827;
	border: none;
	border-radius: 50px;
	min-width: 150px;
}
.btn-primary:focus{
	box-shadow: none;
	border: none;
}
small{
	color: white;
}
.far.fa-user{
	font-size: 13px;
}
.fas.fa-user-plus{
	font-size: 13px;
}
.register-link{
	color: #fff;
	font-size: 14px;
	margin: 0;
}
.link-register{
	color: rgb(100, 100, 100);
	text-decoration: none;
	font-weight: 600;
}
.link-register:hover{
	color: rgb(100, 100, 100);
	text-decoration: underline;
}

@media(min-width: 767px){
	.bn{
		text-align: right;
	}
}
@media(max-width: 767px){
	.form-check{
		text-align: center;
	}
	.bn{
		text-align: center;
		align-items: center;
	}
}
@media(max-width: 450px){
	.fab{
		width: 100%;
		height: 100%;
	}
	.division .line{
		width: 50%;
	}
}
