/* Centraliza os cards e dรก largura consistente */
.swiper-slide {
  display: flex;
  justify-content: center;
}

.card {
  width: 18rem;
}
.service-card .card-img-top { object-fit: cover; height: 140px; }
.service-card .card { height: 100%; }